@import url("https://fonts.googleapis.com/css?family=Muli:200|Shadows+Into+Light|Ubuntu");
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      background: #eece1a;
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      background: #eece1a;
      transform: rotate(310deg) translate(7px, -5px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(27, 27, 27, 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: rgba(40, 40, 40, 0.9);
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: solid 3px #eece1a;
      background-image: url("../img/me.jpg");
      background-size: cover; }
      .menu-branding .portrait:hover {
        transition: all 0.5s ease-out;
        filter: invert(100%); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box;
  cursor: crosshair; }

body {
  background: #282828;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url("../img/background2.jpg");
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(40, 40, 40, 0.9); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(50, 50, 50, 0.6); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #eece1a; }

main {
  padding: 4rem;
  min-height: calc(100vh - 73px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

#home {
  font-family: 'Ubuntu', sans-serif; }

.menu, #about, #contact, #work {
  font-family: 'Muli', sans-serif; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'resume resume resume' 'edbio edbio edbio';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #eece1a 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.2rem; }
  .about-info .resume {
    grid-area: resume;
    margin-left: 20px;
    font-size: 1.3rem; }
    .about-info .resume span {
      display: inline-block; }
    .about-info .resume span p {
      margin-top: -7px;
      font-size: 10px; }
    .about-info .resume .view {
      padding-left: 7px; }
  .about-info .about-education {
    grid-area: edbio;
    display: grid; }
    .about-info .about-education .education-text {
      grid-area: 1 / 1 / span 1 / span 3; }
    .about-info .about-education .card-1 {
      grid-area: 2 / 1 / span 1 / span 1; }
    .about-info .about-education .card-2 {
      grid-area: 2 / 2 / span 1 / span 1; }
    .about-info .about-education .card-3 {
      grid-area: 2 / 3 / span 1 / span 1; }
    .about-info .about-education .card {
      background: #353535;
      padding: 0.5rem;
      border-top: #0f0f0f 1px solid;
      border-bottom: #eece1a 3px solid;
      margin: 8px; }
  .about-info .anchorToggler {
    color: #eece1a;
    cursor: pointer; }

.work-header, .work-header1, .work-header2 {
  display: inline-block;
  opacity: 0.6;
  color: #b4a796;
  border-bottom: 2px solid #fff; }

.work-header1 {
  margin: 50px 0px 40px 15px; }

.work-header2 {
  margin: 70px 0px 30px 15px; }

.private-work {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .private-work .item {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    border-radius: 5%;
    height: 305px;
    width: 0px; }
    .private-work .item:hover .proj-details {
      opacity: 1; }
    .private-work .item .img-container {
      display: inline-block;
      position: absolute;
      padding: 0px;
      margin: 0px;
      height: 300px; }
      .private-work .item .img-container .proj-img {
        position: absolute;
        z-index: 0;
        height: 300px;
        width: 320px;
        border-radius: 5%; }
      .private-work .item .img-container .text, .private-work .item .img-container .paragryn-text {
        position: absolute;
        z-index: 1;
        left: 0px;
        opacity: 0.8;
        padding-left: 10px; }
      .private-work .item .img-container .paragryn-text {
        top: 240px;
        color: black; }
    .private-work .item .proj-details {
      display: inline-block;
      position: absolute;
      top: -1px;
      left: -1px;
      z-index: 1;
      opacity: 0;
      background-color: #404040;
      border: 1px solid white;
      height: 302px;
      width: 322px;
      border-radius: 5%;
      text-align: center;
      transition: opacity 300ms ease-out; }
      .private-work .item .proj-details > .proj-desc {
        margin-top: 50px;
        font-size: 20px; }
      .private-work .item .proj-details > hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid #b4a796;
        margin: 1em 0;
        padding: 0; }
      .private-work .item .proj-details > p {
        font-size: 12px; }
      .private-work .item .proj-details a {
        background-color: #404040;
        border: 1px solid #eece1a;
        padding: 8px;
        border-radius: 20px;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        transition: background-color 230ms ease-out; }
        .private-work .item .proj-details a:hover {
          cursor: pointer;
          color: #000;
          background-color: #eece1a; }
      .private-work .item .proj-details span {
        display: inline-block; }
      .private-work .item .proj-details span p {
        margin-top: -7px;
        font-size: 10px; }

.personal-projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .personal-projects .item:nth-last-child(1) {
    margin-bottom: 30px; }
  .personal-projects .project-text {
    text-align: center;
    margin-bottom: 0px;
    font-size: 19px; }
  .personal-projects img {
    border-radius: 15px;
    width: 100%;
    border: 3px solid #fff;
    margin-bottom: 0.5rem;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%); }
    .personal-projects img:hover {
      transition: all 0.5s ease-out;
      -webkit-filter: grayscale(80%);
      filter: grayscale(0%); }
  .personal-projects .project-links {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 0.3rem;
    border-radius: 15px;
    font-size: 13.5px;
    border: 1px solid #eece1a; }
    .personal-projects .project-links p {
      display: inline-block;
      color: #eece1a;
      margin: 0px 13px;
      font-weight: 700; }
    .personal-projects .project-links:hover {
      transition: all 0.5s ease-out;
      background: #eece1a;
      border: 1px solid #000; }
      .personal-projects .project-links:hover a, .personal-projects .project-links:hover p {
        color: #000; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    border-radius: 20px;
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #eece1a;
      color: #000; }
      .boxes div:hover span {
        color: #000; }
    .boxes div p {
      font-size: 30px;
      display: inline-block; }
    .boxes div .emailers {
      border: none;
      text-align: center;
      margin-bottom: 0px; }

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .boxes div {
    width: 105%; } }

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .boxes div {
    width: 102%; }
    .boxes div p {
      font-size: 25px;
      margin-left: -20px;
      display: inline-block; } }

#main-footer {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  background: #0f0f0f;
  color: #fff;
  height: 72px;
  padding: 13px; }
  #main-footer p, #main-footer img {
    display: inline-block; }
  #main-footer p {
    font-size: 17px; }

@media screen and (min-width: 1171px) {
  .private-work {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2rem; }
  .personal-projects {
    grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 1170px) and (max-width: 1397px) {
  .private-work {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .private-work {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 2rem; }
  .personal-projects {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 900px) {
  .personal-projects {
    grid-template-columns: 1fr;
    grid-row-gap: 2rem; } }

@media (min-width: 590px) and (max-width: 735px) {
  .private-work .item {
    margin-left: 55px; } }

@media (min-width: 725px) and (max-width: 768px) {
  .private-work .item {
    margin-left: 150px; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/me.jpg");
      width: 170px;
      height: 170px;
      background-position: -80px -45px; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'resume' 'edbio';
    grid-template-columns: 3fr; }
    .about-info .bio-image {
      grid-area: bioimage; }
    .about-info .bio {
      grid-area: bio;
      font-size: 17px; }
    .about-info .resume {
      grid-area: resume;
      margin-left: 0px; }
    .about-info .about-education .education-text {
      grid-area: 1 / 1 / span 1 / span 1; }
    .about-info .about-education .card-1 {
      grid-area: 2 / 1 / span 1 / span 1; }
    .about-info .about-education .card-2 {
      grid-area: 3 / 1 / span 1 / span 1; }
    .about-info .about-education .card-3 {
      grid-area: 4 / 1 / span 1 / span 1; }
  .private-work {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25px;
    grid-row-gap: 2rem; }
  .personal-projects {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; }
  .private-work {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 50px; }
  .personal-projects {
    grid-template-columns: 1fr; } }

@media (min-width: 414px) and (max-width: 445px) {
  .private-work {
    margin-left: 15px; } }

@media (min-width: 380px) and (max-width: 413px) {
  .private-work {
    margin-left: -5px; } }

@media (min-width: 365px) and (max-width: 380px) {
  .private-work {
    margin-left: 3px; } }

@media (min-width: 340px) and (max-width: 365px) {
  .private-work {
    margin-left: -13px; } }

@media (min-width: 300px) and (max-width: 390px) {
  .personal-projects {
    grid-row-gap: 8rem;
    margin-bottom: 100px; }
    .personal-projects .project-links a, .personal-projects .project-links p {
      font-size: 10px; }
    .personal-projects .project-links p {
      margin: 0px 9px; }
    .personal-projects img {
      height: 100%; } }

@media (min-width: 200px) and (max-width: 340px) {
  .private-work {
    margin-left: -25px; } }
