@import 'config';
@import 'menu';
@import url('https://fonts.googleapis.com/css?family=Muli:200|Shadows+Into+Light|Ubuntu');

* {
    box-sizing: border-box;
    cursor: crosshair;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba( lighten($primary-color, 2), 0.6 );
    }
}

a {
    color:#fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary_color;
}
.third-text{
    margin-top: 25px;
    font-size: 18px;   
}

main {
    padding: 4rem;
    min-height: calc(100vh - 73px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary_color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

#home{
    font-family: 'Ubuntu', sans-serif;
}

.menu, #about, #contact, #work{
    font-family: 'Muli', sans-serif;
}

//----------- About Page -----------
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bioimage bio bio'
    'resume resume resume'
    'edbio edbio edbio';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary_color 3px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.2rem;
    }

    .resume{
        grid-area: resume;
        margin-left:20px;
        font-size: 1.3rem;
        span{
            display:inline-block;
        }
        span p{
            margin-top:-7px;
            font-size:10px;
        }
        .view{
            padding-left:7px;
        }
    }

    .about-education{
        grid-area: edbio;
        display: grid;

        .education-text {
            grid-area: 1 / 1 / span 1 / span 3;
        }
        .card-1 {
            grid-area: 2 / 1 / span 1 / span 1;
        }
        .card-2 {
            grid-area: 2 / 2 / span 1 / span 1;
        }
        .card-3 {
            grid-area: 2 / 3 / span 1 / span 1;
        }
        .card {
            background: lighten($primary-color, 5);
            padding: 0.5rem;
            border-top: darken($primary-color, 10) 1px solid;
            border-bottom: $secondary_color 3px solid;
            margin: 8px;
        }
    }

    .anchorToggler {
        color: $secondary_color;
        cursor: pointer;
    }
}

//----------- My Work -----------
h1.sm-header{
    opacity: 0.6;
    display: inline-block;
    margin: 155px 0px 50px 0px;
    // color: rgba(221, 213, 213, 0.568);
    color: #b4a796;
    border-bottom: 2px solid #fff;
}

// Private Projects
.private-work{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .item{
        font-family: 'Ubuntu', sans-serif;
        position: relative;
        border-radius: 5%;
        height: 305px;
        width: 0px;
    
        &:hover .proj-details{
            opacity: 1;
        }
    
        .img-container{
            display: inline-block;
            position: absolute;
            padding: 0px;
            margin: 0px;
            height: 300px;
            
            .proj-img{
                position: absolute;
                z-index: 0;
                height: 300px;
                width: 320px;
                border-radius: 5%;
            }
            
            .text{
                position: absolute;
                z-index: 1;
                left: 0px;
                opacity: 0.8;
                padding-left: 10px;
            }
    
            .ai-text{ 
                @extend .text;
                top: 220px;
                color: white;
            }
            .paragryn-text{
                @extend .text;
                top: 240px;
                color: black;
            }
        }
        
        .proj-details{
            display: inline-block;
            position: absolute;
            top: -1px;
            left: -1px;
            z-index: 1;
            opacity:0;
            background-color: #404040;
            border: 1px solid white;
            height: 302px;
            width: 322px;
            border-radius: 5%;
            text-align: center;
            transition: opacity 300ms ease-out;
            > hr{
                display: block;
                height: 1px;
                border: 0;
                border-top: 2px solid #b4a796;
                margin: 1em 0;
                padding: 0;
            }
            > p{
                font-size: 12px;
            }
            a{
                background-color: #404040;
                border: 1px solid $secondary_color;
                padding: 8px;
                border-radius: 20px;
                color:#fff;
                font-size: 13px;
                font-weight: 500;
                transition: background-color 230ms ease-out;
        
                &:hover{
                    cursor: pointer;
                    color:#000;
                    background-color:$secondary_color;
                }
            }
            span{
                display:inline-block;
            }
            span p{
                margin-top:-7px;
                font-size:10px;
            }
        }
    }
}


// Personal Projects
.personal-projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    .item:nth-last-child(1){
        margin-bottom: 30px;
    }

    .project-text{
        text-align: center;
        margin-bottom: 0px;
    }
    img {
        border-radius: 15px;
        width: 100%;
        border: 3px #fff solid;
        margin-bottom: 0.5rem;

        &:hover {
            opacity: 0.8;
            border-color: $secondary_color;
            @include easeOut;
        }
    }

    .project-links{
        background-color: #000;
        color: #fff;
        padding: 0.5rem 1rem;
        margin-bottom: 0.3rem;
        border-radius: 15px;
        font-size:13.5px;
    
        p{
            display: inline-block;
            color:#fff;
            margin: 0px 13px;
        }
    
        &:hover{
            @include easeOut;
            background: $secondary_color;
            a, p{
                color: #000;
            }
            
        }
    }
}


//----------- Contact Page -----------
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary_color;
            color: set-text-color($secondary_color);
            span {
                color: set-text-color($secondary_color);
            }
        }
    }
}

//----------- Footer -----------
#main-footer {
    font-family: 'Shadows Into Light', cursive;
    // margin-top: 0px;
    text-align: center;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 72px;
    padding:13px;

    p, img{
        display:inline-block;
    }
    p{
        font-size: 17px;
    }
}

@import 'mobile'; 